<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='./index.css')}}"> 
  <title>PapagoAPI</title>
</head>
<body><body>
  <div class='grid-container' >
    <main>
    <div>
      <form action='/trans' id='submit-form' method='get'>
        <p><label>시작하는 행과 끝나는 행을 입력하세요.</label></p>
        <span><input placeholder='start' id='start' name='start'></input></span>
        <span>:</span>
        <span><input placeholder='end' id='end' name='end'></input></span>
        <p><button type='submit'>Trasnlate</button></p>
      </form>  
    </div>
    <div id='results' ></div>
    </main>
    <footer>All rights reserved by Londonlabel &copy<script>document.write(new Date().getFullYear())</script></footer>
  </div> 
  <!--<script src='index.js'></script>-->
</body>
</html>